* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --PrimaryDarkcyan: hsl(158, 36%, 37%);
  --PrimaryCream: hsl(30, 38%, 92%);
  --NeutralVerydarkblue: hsl(212, 21%, 14%);
  --NeutralDarkgrayishblue: hsl(212, 21%, 14%);
  --NeutralWhite: hsl(228, 12%, 48%);
  --fontsize: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--PrimaryCream);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 580px;
  }
}

.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.image {
  background: url(../photos/image-product-desktop.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: right;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 550px) {
  .image {
    height: 321px;
    background: url(../photos/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }
}
.text {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 20px;
}
@media (max-width: 550px) {
  .text {
    border-radius: 0 0 10px 10px;
  }
}

h1 {
  font-family: "Fraunces", serif;
}

.text h2 {
  margin: 0;
  color: var(--NeutralWhite);
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text p {
  font-size: var(--fontsize);
  line-height: 1.6;
  color: var(--PrimaryDarkcyan);
}

.price {
  display: flex;
  align-items: center;
}

.price span:first-child {
  font-family: "Fraunces", serif;
  color: var(--PrimaryDarkcyan);
  font-size: 28px;
}

.price span:last-child {
  margin: 20px;
  text-decoration: line-through;
  font-size: var(--fontsize);
  color: var(--NeutralWhite);
}

button {
  border: none;
  background-color: var(--PrimaryDarkcyan);
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 36%, 29%);
}
